

<p>
  <strong>Name:</strong>
  <%= @gym_info.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @gym_info.address %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @gym_info.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @gym_info.longitude %>
</p>

<%= link_to 'Edit', edit_gym_info_path(@gym_info) %> |
<%= link_to 'Back', gym_infos_path %>
